<div class="photos" data-post="{{post_id}}">
	{{#attachments}}
		{{#if photo}}
			<a href="{{#if photo.src_xbig}}{{photo.src_xbig}}{{else}}{{photo.src_big}}{{/if}}" rel="fancybox_{{../../post_id}}" class="fancybox" title="{{photo.text}}"><img src="{{photo.src_big}}" rel="print-gallery" data-highres="{{photo.src_big}}"></a>
		{{/if}}
	{{/attachments}}
</div>					
{{#attachments}}
	{{#if link}}
		<div class="link">
			<a href="{{link.url}}" target="_blank">
				<i class="fa fa-external-link-square"></i>
				{{link.url}}
			</a>
		</div>
	{{/if}}
{{/attachments}}

<div class="video">
	{{#attachments}}
		{{#if video}}
			{{#video}}
				<a href="http://vk.com/video{{owner_id}}_{{vid}}" target="_blank"><img src="{{image_big}}"></a>
			{{/video}}
		{{/if}}
	{{/attachments}}
</div>

<ul class="list-group tracks">		
	{{#attachments}}
		{{#if audio}}
			{{#audio}}
				<li class="list-group-item track"
					id="audio_{{aid}}"
					data-aid="{{aid}}"
					data-owner="{{owner_id}}"
					data-artist="{{{artist}}}"
					data-title="{{{title}}}"
					data-duration="{{duration}}"
					data-url="{{{url}}}">
						<div class="play"><i class="fa fa-play"></i></div>
						<a href="#" class="searchByArtist">{{{artist}}}</a> - {{{title}}}

						<div class="trackMenu"></div>
				</li>
			{{/audio}}
		{{/if}}
	{{/attachments}}
</ul>