{{#newsfeed}}
	{{#unless wall_photo}}
		<div class="newsitem">
			<div class="source_photo">
				<img src="{{source.photo}}">
			</div>
			<div class="content">
				<div class="source_info">
					{{#if source.first_name}}
						{{source.first_name}} {{source.last_name}}
					{{else}}
						{{source.name}}
					{{/if}}
				</div>
	
				{{#if copy_owner_id}}
					<div class="newsitem">
						<div class="source_photo">
							<img src="{{copy_source.photo}}">
						</div>
						<div class="content">
							<div class="source_info">
								<i class="fa fa-share text-muted"></i>
								{{#if copy_source.first_name}}
									{{copy_source.first_name}} {{copy_source.last_name}}
								{{else}}
									{{copy_source.name}}
								{{/if}}
							</div>
							{{#if attachments}}
								<div class="photos" data-post="{{post_id}}">
									{{#attachments}}
										{{#if photo}}
											<img src="{{photo.src_big}}" rel="print-gallery" data-highres="{{photo.src_big}}">
										{{/if}}
									{{/attachments}}
								</div>					
								{{#attachments}}
									{{#if link}}
										<div class="link">
											<a href="{{link.url}}" target="_blank">{{link.title}}</a>
										</div>
									{{/if}}
								{{/attachments}}
							{{/if}}

							{{#if likes}}
								<div class="likes">
									<span class="label label-default">
										<i class="fa fa-heart text-danger"></i> <strong>{{likes.count}}</strong>
									</span>
								</div>
							{{/if}}
						</div>
					</div>
				{{else}}
					{{#if text}}
						<p>{{{text}}}</p>
					{{/if}}

					{{#if attachments}}						
						<div class="photos" data-post="{{post_id}}">
							{{#attachments}}
								{{#if photo}}
									<img src="{{photo.src_big}}" rel="print-gallery" data-highres="{{photo.src_big}}">
								{{/if}}
							{{/attachments}}
						</div>					
						{{#attachments}}
							{{#if link}}

								<div class="link">
									<a href="{{link.url}}" target="_blank">{{link.title}}</a>
								</div>
							{{/if}}
						{{/attachments}}
					{{/if}}

					{{#if likes}}
						<div class="likes">
							<span class="label label-default">
								<i class="fa fa-heart text-danger"></i> <strong>{{likes.count}}</strong>
							</span>
						</div>
					{{/if}}
				{{/if}}
			</div>
		</div>
	{{/unless}}
{{/newsfeed}}

<script>
	$(function() {
		$('.photos').each(function() {
			var container = $(this);
			container.photosetGrid({
				layout: '23444',
				gutter: '2px',
 				rel: 'fancybox_' + container.data('post'),
 				highresLinks: true,
 				width: '100%',
				onInit: function(){
					
				},
  				onComplete: function(){
					$('.photos a').fancybox({
						openEffect	: 'none',
    					closeEffect	: 'none',
					});
  				}
			});
		});
	});
</script>